@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}
body {
  background-image: url(image/bacrounProject.png);
    background-size: cover;
    background-position: center;
}
.container{
    width: 100%;
    min-height: 100vh;
    background-image: url(image/bacrounProject.png);
    background-size: cover;
}

.container .title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 22px;
    color: #ffb100;
    letter-spacing: 1.5px;
    padding: 50px 0;
}

.container .title h1::after{
    content: " ";
    height: 6px;
    width: 180px;
    background-color: #222;
    border-radius: 11px;
    position: relative;
    display-block;
    margin: 0 auto;
}

.content{
    width: 85%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    margin: 30px auto;
}

.content .article{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    background-color: #000000;
    padding: 25px 25px;
    border-color: #ffb100;
    border-width: 5px;
    border-style: solid;
}

.content .article h2{
    font-size: 22px;
    color: #ffb100;
    line-height: 1.5;
    letter-spacing: 1px ;
}

.content .article p{
    font-size: 19px;
    color: #ffffff99;
    line-height: 1.8;
    margin-top: 33px;
}

.content .article a{  
    font-size: 22px;
    text-decoration: none;
    display: inline-block;
    padding: 12px 35px;
    background-color: #cc0000;
    border-radius: 25px;
    color: #fff;
    border: 1px solid #cc0000;
    letter-spacing: 1.5px;
    margin-top: 22px;
}

.content .article a:hover{
    background-color: #ffb100;
    color: #000;
    transition: 0.2s ease;
}

.image-section{
    width: 100%;
    margin: auto;
}

.image-section img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    border-color: #ffb100;
    border-width: 5px;
    border-style: solid;
}

@media screen and (max-width: 999px){
    .content{
        grid-template-columns: repeat(1, 1fr);
    }

.article{
    text-align: center;
}
    
}